<div class="trade-volume">
  <div class="helpbox" ng-class="{showHelp : showHelp}">
    <h4>Trade Volume</h4>
    <p>
The trade volume chart represents the trade volume for a curated list of markets on the network. The 'Live' option shows data from the last 24 hours, updated every 5 minutes. The 'Historical' option shows data for the selected date, UTC time.
    </p>
    <p>
Each currency traded is represented by an arc on the outer circle, with its length representing its volume relative to all others on the circle. Hover over the name of a currency or its arc to highlight that currency's portion of exchange volume. The chord between two arcs represents the relative volume of exchanges between the currencies at each end. Hover over one of these chords to highlight that market exclusively.
    </p>
    <p>
The column on the left shows the number of exchanges and the total volume traded, normalized to the display currency. Filter the currencies shown here by clicking the name or arc of that currency.
    </p>
    <p>
The right column shows volume data for all currencies, a single currency, or a single market, depending on highlighting. Data includes the total volume for the currency/pair normalized to the display currency, the total volume in nominal terms, a count of exchanges, and a percentage of the total volume. The total percentage adds up to 200%, because there are always two currencies represented in each trade.
    </p>
  </div>
  <div class="source">
    <div class="live">
      <input type="radio" id="live-source" ng-model="source.type" class="source-select" value="live"/>
      <label for="live-source">Live (Last 24 hours)</label>
    </div>
    <div class="history">
      <input type="radio" id="history-source" ng-model="source.type" class="source-select" value="history"/>
      <label for="history-source">Historical</label>
      <input id="datepicker"/>
    </div>
  </div>
  <chord-diagram></chord-diagram>
</div>

