.main {
  text-align:center;
}

.landing h5 {
  font-size:14px;
  font-weight:bold;
  text-align:left;
  margin:5px;  
}

.landing .stats ul {
  list-style:none;
  margin:0;
}

.landing .stats li {
  border:1px solid rgba(150,150,150,.3);
  background:rgba(150,155,160,.2); 
  overflow:hidden;
  padding:5px;
  border-radius:2px;
  margin:3px; 
}

.landing .stats label {
  width:40%;
  text-align:left;
  float:left;
  margin:5px 20px;
  color:#888;
}

.landing .stats .stat {
    
}

#liveFeed {
  
}

#topMarkets {
  margin-bottom:20px;
  overflow:hidden;
}

#topMarkets .chart {
  width:300px;
}

/*
 * Dark theme
 */

.landing h5 {
  color:#999;
}

.landing .transactionFeed {
  height:265px;
}

@media (min-width: 1200px) {
  #topMarkets {
    width:1170px;
  }
  
  #topMarkets .chart {
    width:375px ;
  }
}

@media (max-width: 979px) {
  
  #topMarkets {
    width:724px;
  }
  
  #topMarkets .chart {
    width:350px ;
  }
}

@media (max-width: 767px) {
  #topMarkets {
    width: 90%;
    display:inline-block;
  }
  
  #topMarkets .chart {
    float:none ;
    width:auto ;
  }
}
