#topology .helpbox {
  margin: 0 60px;
  font-size: 14px;
}

#topology #global-stats-item {
  font-size: 20px;
}

#topology h2, #topology h4 {
  text-align: center;
}

#topology h4 {
  margin-bottom: 10px;
  opacity: .8;
}

#topology .topology-graph {
  text-align: center;
}

#topology .pubkey {
  font-size: 11px;
}
