<div id="topology">
  <h2>Ripple Network Topology</h2>
  <h4 ng-hide="loading">
    <label>Total Nodes: </label>
    <span class="nNodes" ng-bind="nodes.length"></span>
    <span class="date" ng-bind="date"></span>
  </h4>
  <h4>{{status}}</h4>

  <div class="helpbox" ng-class="{showHelp : showHelp}">
    <h5>Ripple Network Topology</h5>
      <p>
        The Ripple Network topology graph shows the active rippled nodes and the connections between them. Every three seconds a snapshot is taken of the network topology, which records the status on each node in the network and its connections to other nodes. Each node is a rippled and the links between the nodes are tcp connections. A node's size corresponds to the number of connections it has and its color indicates the software version. Blue nodes <svg height="10" width="10"><circle r="4" cx="5" cy="5" class="blue"></circle></svg> represent use of the current stable version of the software, red nodes <svg height="10" width="10"><circle r="4" cx="5" cy="5" class="red"></circle></svg> represent earlier versions and purple nodes <svg height="10" width="10"><circle r="4" cx="5" cy="5" class="purple"></circle></svg> represent versions newer than the current stable version.
      </p>
  </div>
  <div class="visualization">
    <div class="control-panel">
      <label class="switch">
        <input class="switch-input" type="checkbox" />
        <span class="switch-label" data-on="Graph" data-off="Map"></span>
        <span class="switch-handle"></span>
      </label>
      <div class="weight-toggle">
        <label>Weight by:</label>
        <input type="radio" ng-model="weight" value="connections" checked></input>
          Connections
        <input type="radio" ng-model="weight" value="uptime"></input>
          Uptime
      </div>
    </div>
    <div class="swap topology-graph"></div>
    <div class="swap topology-map"></div>
  </div>

  <div class="versions">
    <div class="stable">
        <label>Current Stable Version:</label>
        <span ng-bind="stable"></span>
    </div>
    <versions-graph></versions-graph>
  </div>
  <div id="topology-table" ng-hide="loading">
    <div class="topologyTableHeader">
      <div>Public Key</div>
      <div>IP Address</div>
      <div>Version</div>
      <div>Inbound Connections</div>
      <div>Outbound Connections</div>
      <div class="uptime">
        Uptime
        <button type="button" class="tooltip-btn btn btn-default"
          data-toggle="tooltip"
          tooltip-placement="top"
          tooltip="age of node's longest current connection">?
        </button>
      </div>
    </div>

    <div ng-repeat="node in nodes" class="topology-node {{node.new.node_public_key}}" pubkey="{{node.new.node_public_key}}">
        <div class="pubkey">{{node.new.node_public_key}}</div>
        <div class="ip">{{node.new.ip}}</div>
        <div class="version" ng-style="{color:node.new.version_color}">{{node.new.version}}</div>
        <div class="inbound_connections" data-old="{{node.old.inbound_count}}" data-new="{{node.new.inbound_count}}"></div>
        <div class="outbound_connections" data-old="{{node.old.outbound_count}}" data-new="{{node.new.outbound_count}}"></div>
        <div class="uptime_formatted" data-old="{{node.old.uptime_formatted}}" data-new="{{node.new.uptime_formatted}}"></div>
      </div>
  </div>
</div>


<style>
  footer .footerInner {
    width:96% !important;
  }
</style>

