
<div class="validations">
  <h2>Validator Registry</h2>
  <div class="helpbox" ng-class="{showHelp : showHelp}">
    <p>
      Validators are rippled nodes running as a validating server - meaning they are configured to
      participate in the
      <a href="https://ripple.com/knowledge_center/the-ripple-ledger-consensus-process/">consensus process</a>
      for validating transactions.  This
      <a href="https://ripple.com/build/rippled-setup/#types-of-rippled-servers">guide</a>
      is a helpful reference for understanding and operating rippled servers. Each validator is
      identified by its public validation key, which is used to sign validations.
    </p>
    <p>
      The 'Agreement' and 'Disagreement' columns represent how closely this validator's validations
      match the validations of the ledgers by the recommended trusted validators set.
      A value of 1 means the validator validated every ledger that was also validated by the trusted
      validators on the day specified, while a value of 0 indicates the validator did not validate
      any of the ledgers validated by the trusted group.  Disagreement is opposite, it indicates how
      many ledgers were validated by this node but not validated by the trusted group.
      'Total Validations' is the total number of ledgers validated by the specific node on that day.
    </p>
    <p>
      Rippled software allows operators the ability to associate a node with a specific domain that
      is under their control in order to encourage trust and transparency. For details and instructions on verifying the domain of a validating node, look
      <a href="https://ripple.com/build/rippled-setup/#domain-verification">here</a>.

      <div class="warning">
        * Successful Domain verification is independently done by rippled operators and does not imply any
        endorsement of trust from Ripple, Inc. - it is only an indication that the operator of the node is
        also in control of the domain.
      </div>
    </p>
  </div>

  <h4>{{date}}</h4>
  <h4>{{status}}</h4>

  <div ng-hide='loading'>
    <div class='validatorsTable'>

      <div class='validatorsHeader'>
          <div>Validation Public Key</div>
          <div>
            Agreement
            <button type="button" class="tooltip-btn btn btn-default"
              data-toggle="tooltip"
              tooltip-placement="top"
              data-container="row"
              tooltip="The percentage of ledgers that passed consensus that were validated by the validator">?
            </button>
          </div>
          <div>
            Disagreement
            <button type="button" class="tooltip-btn btn btn-default"
              data-toggle="tooltip"
              tooltip-placement="top"
              data-container="row"
              tooltip="The percentage of ledgers validated by the validator that did not pass consensus">?
            </button>
          </div>
          <div>Total Validations</div>
          <div>
            Domain
            <span class="asterisk" ng-click="showHelp = true">*</span>
          </div>
      </div>

      <div ng-repeat="report in reports" class='report'>
        <div class="pubkey"><a ng-click='$event.stopPropagation()' ng-href="#/validators/{{report.validation_public_key}}">{{report.validation_public_key}}</a></div>
        <div class="agreement">{{report.main_net_agreement}}</div>
        <div class="disagreement">{{report.main_net_disagreement}}</div>
        <div class="ledgers">{{report.total_ledgers | number}}</div>
        <div class="site">
        <div ng-if="report.domain" class="domain">
          <a ng-click='$event.stopPropagation()' href='http://{{report.domain}}' ng-class="{verified: report.domain_state === 'verified'}" target="_blank">
            {{report.domain}}
            <small ng-if="report.domain_state === 'verified'">&#10004</small>
            <b ng-if="report.domain_state !== 'verified' && report.domain"
              title="report.domain_state">X</b>
          </a>
        </div>
        <div ng-if="!report.domain"><a ng-click='$event.stopPropagation()' href='https://ripple.com/build/rippled-apis/rippled-setup/#domain-verification' class='unverified'>unverified</a></div>
        </div>
      </div>
    </div>

  </div>
</div>
