
<div class="validations">
  <h2>Validator Registry</h2>
  <h4>{{date}}</h4>
  <h4>{{status}}</h4>

  <div ng-hide='loading'>
    <div class='validatorsTable'>

      <div class='validatorsHeader'>
          <div>Validation Public Key</div>
          <div>
            Agreement
            <button type="button" class="tooltip-btn btn btn-default"
              data-toggle="tooltip"
              tooltip-placement="top"
              data-container="row"
              tooltip="The percentage of ledgers that passed consensus that were validated by the validator">?
            </button>
          </div>
          <div>
            Disagreement
            <button type="button" class="tooltip-btn btn btn-default"
              data-toggle="tooltip"
              tooltip-placement="top"
              data-container="row"
              tooltip="The percentage of ledgers validated by the validator that did not pass consensus">?
            </button>
          </div>
          <div>Total Validations</div>
          <div>Domain</div>
      </div>

      <div ng-repeat="report in reports" class='report'>
        <div class="pubkey"><a ng-click='$event.stopPropagation()' ng-href="#/validators/{{report.validation_public_key}}">{{report.validation_public_key}}</a></div>
        <div class="agreement">{{report.main_net_agreement}}</div>
        <div class="disagreement">{{report.main_net_disagreement}}</div>
        <div class="ledgers">{{report.total_ledgers | number}}</div>
        <div class="site">
        <div ng-if="report.domain" class="domain">
          <a ng-click='$event.stopPropagation()' href='https://{{report.domain}}' ng-class="{verified: report.domain_state === 'verified'}">
            {{report.domain}}
            <small ng-if="report.domain_state === 'verified'">&#10004</small>
            <b ng-if="report.domain_state !== 'verified' && report.domain"
              title="report.domain_state">X</b>
          </a>
        </div>
        <div ng-if="!report.domain"><a ng-click='$event.stopPropagation()' href='https://ripple.com/build/rippled-apis/rippled-setup/#domain-verification' class='unverified'>unverified</a></div>
        </div>
      </div>
    </div>

  </div>
</div>
