.history {
	text-align:center;
}

.history .helpbox {
	width:80%;
	display:inline-block;
}

.history #canvas {
	width: 100%;
}

.history .chart_wrapper {
	display:inline-block;
	width:90%;
}

.history .interval {
	font-size:14px;
	float: right;
}

.history .control {
	text-align: center;
	display: inline-block;
	width: 95%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.history #breadcrumb {
	font-size:14px;
	float: left;
}

.history .crumbs li{
	margin-right: 5px;
	display: inline;
	float: left;
}

.legend li{
	display: inline;
}

.history .legend {
	margin-top: 20px;
}

ul span{
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	user-select: none;
}

.history #day {
	float: left;
	margin-left: 10px;
	cursor: default;
}

.history #month {
	float: left;
	margin-left: 10px;
	cursor: default; 
}

.history #week {
	float: left;
	margin-left: 10px;
	cursor: default; 
}

.history .clicked{
	font-weight: bold;
	border-bottom: 3px solid;
	color: #3369a8;
}

.history .range {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.history #datepicker_from {
	float: left;
	width: 80px;
	margin-left: 5px;
	margin-right: 5px;
}

.history #datepicker_to {
	float: left;
	width: 80px;
	margin-left: 5px;
	margin-right: 5px;
}

.history .submit {
	float: left;
	margin-left: 10px;
	width: 25px;
}

.history .go {
	float: left;
	margin-left: 10px;
}

.history .label{
	display:inline-block;
	border: 1px solid rgba(200,200,200,0.15);
	width: 240px;
	padding: 5px 10px;
	margin: 5px;
	text-align: left;
	cursor: pointer;
	border-radius: 2px;
	background: rgba(200,200,200,0.1);
}

.history .label:hover {
	border: 1px solid rgba(200,200,200,0.5);
}

.history .gateway{
	font-size: 18px;
	font-weight: 600;
}

.history .issuer{
	font-size: 11px;
}

/*
 * Dark theme
 */


//mobile
@media (max-width: 480px) {
	#totalHistory {
		zoom: .75;
		width:100%;
	}
}