.history {
  text-align:center;
}

.history .helpbox {
  width:80%;
  display:inline-block;
}

.history #canvas {
  margin-bottom:10px;
  width: 100%;
}

.history .chart_wrapper {
  display:inline-block;
  width:96%;
  margin-bottom:10px;
}

.history .interval {
  font-size:14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: 18%;
  margin: 0 auto;
}

.history .months {
  float: left;
  margin-left: 10px;
  cursor: pointer; 
}

.history .days {
  float: left;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #3369a8;
  border-bottom: 3px solid;
}

.history .range {
  float: left;
}

.history .submit {
  float: left;
  margin-left: 10px;
  width: 25px;
}

.history .go {
  float: left;
  margin-left: 10px;
}

/*
 * Dark theme
 */


//mobile
@media (max-width: 480px) {
  #totalHistory {
    zoom: .75;
    width:100%;
  }
}