<!DOCTYPE html>
<html>
  <head>
    <title>Ripple Charts Embedded Chart</title>
    
    <!-- D3 needs this -->
    <meta charset="utf-8">
    
    <script>
      API    = "<%= api %>";  
      DOMAIN = "<%= domain %>"; 
    </script>
    
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <div id="priceChart"></div>
    <script>
      var margin = {top: 30, right: 60, bottom: 50, left: 60};
      var width  = window.innerWidth  - margin.left - margin.right;
      var height = window.innerHeight - margin.top  - margin.bottom;
      
      PriceChartWidget({ 
        id        : "priceChart", 
        bodyTheme : true, 
        margin    : margin, 
        height    : height,
        width     : width
      }).loadFromQS();  
           
    </script>
  </body>
</html>    