.element{
  float: left;
  margin: 2px;
}

.ticker{
  margin: 15px;
  display: inline-block;
}

.prices{
  width: 100%;
  height: auto;
}

.priceup{
  background-image: url("assets/icons/arrow_up.png");  
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.pricedown{
  background-image: url("assets/icons/arrow_down.png");  
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.priceunch{
  background-image: url("assets/images/rippleThrobber.png");  
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
}