<!DOCTYPE html>
<html>
  <head>
    <title>XRP Charts Embedded Chart</title>

    <!-- D3 needs this -->
    <meta charset="utf-8">

    <script>
      API = "<%= api %>";
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JSON --><% json.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- compiled common js --><% common.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <style>
      body {
        font-family:'Open Sans', sans-serif;
        text-align:center;
        margin:0;
        background:#fff;
        height:100%;
        position:absolute;
        width:100%;
      }

    </style>
  </head>
  <body>
    <div id="liveTicker"></div>
    <script>

    var TW = new TickerWidget({
      url : API,
      id  : "liveTicker",
      closeable : false,
      info : true
    });

    TW.loadFromQS();

    </script>
  </body>
</html>
