.dark {
  background:#333;  
}

.dark .logo {
  float:left;
  display:inline-block;
  width:220px;
  height:40px;
  background-image:url('images/logoLight.png');
  margin:4px 0;

// Pixel ratio: 2
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url('images/logoLightLarge.png');
    background-size: 220px 40px;
  }
}


.dark .snap-drawers{
  background:#333;
  border-color:#444;
}

.dark .nav li a {
  background:#404040;  
}

.dark .snap-content {
  background:#000;
  border:none;
  box-shadow:0 0 1em #000;
}

.dark .header {
  border-color:#444;
  background:#000;
}

.dark .logo img {opacity:.4; border-radius:2px}

.dark .nav-toggle {
  color:#888;
}

.dark .theme {
  color:#444;
}

.dark footer {
  border-color:#333;
}
