/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/responsive.less';
//@import '../../vendor/bootstrap/less/navbar.less';
//@import '../../vendor/bootstrap/less/buttons.less';
//@import '../../vendor/bootstrap/less/button-groups.less';
//@import '../../vendor/bootstrap/less/dropdowns.less';



/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; 
  padding:0 !important;
  line-height:inherit;
  width:100%;
  height:auto;
  overflow-y:auto;
  overflow-x:hidden;
}

html {
  overflow:auto;
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  .border-radius(3px);
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

/**
 * Navigation
 */
.header {
  overflow:hidden;
  border-bottom:1px solid #eee;
  position:relative;
  z-index:3;
  background:#fff;
}
.nav-toggle {
  font-size:25px;
  margin:12px 20px;  
  float:left;
  cursor:pointer;
}

.nav li {

}

.nav li a {
  font-size:16px;
  margin:2px;
  border-radius:1px;  
  padding:10px 20px;
  color:#999;
}

.nav i {
  margin:0 10px 0 0;
}

.nav .category a{
  background:#f9f9f9;
}

.nav .page a {
  padding-left:50px;
  background:#eee;
}

/**
 * Header
 */

.logo {
  float:left;
  display:inline-block;
  width:220px;
  height:40px;
  background-image:url('images/logo.png');
  margin:4px 0;

// Pixel ratio: 2
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url('images/logoLarge.png');
    background-size: 220px 40px;
  }
}

.theme {
  padding:14px 20px;
  color:#ccc;
  float:right;
  font-size:12px;
}

.theme span {
  margin:3px;
  cursor:pointer;
  border-bottom:3px solid transparent;
}

.theme span:hover {
  color: #999;
  border-bottom:3px solid #999;
}

.theme span.selected {
  color:@rippleBlue;
  font-weight:bold;
  border-bottom:3px solid @rippleBlue;
  font-size:12px;
  line-height:13px;
}

/* 
 * Content 
 */
.snap-drawers {
  position:fixed;
  top:50px;
  left:0;
  bottom:0;
  right:0;
  z-index:1;
}

.snap-content {
  border-left:1px solid #eee;
  background:#fff; 
  width:100%;
  padding-top:50px;
  top:0;
  bottom:inherit;
  left:inherit;
  right:inherit;
  min-height:100%;
}

/**
 * Footer
 */

footer {
  border-top:1px solid #eee;
  padding:5px;
  text-align:center;  
}

@import 'light.less';
@import 'dark.less';


/*
 * Inputs 
 */


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/landing/landing.less';
@import '../app/markets/markets.less';
@import '../app/multimarkets/multimarkets.less';


@import 'priceChart.less';
@import 'orderBook.less';
@import 'tradeFeed.less';
@import 'multimarkets.less';
@import 'transactionFeed.less';

@media (max-width: 480px) {
  .header, .markets .wrap {
    zoom: 0.75;  //zoom 75% for phones
  }
  
  .snap-drawers {
    top:37.5px;  //header height * 0.75
  }
  
  .snap-content {
    padding-top:37.5px;
  }
}

