.orderbookChart {
    width:100%;
    position: relative;
    clear:both;
}

.orderbookChart .background {
    fill: none;
    stroke : #999;
    pointer-events: all;
    stroke-width:1;
    shape-rendering: crispEdges;
}

.orderbookChart .loader {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%; 
    margin-top: -35px;
    margin-left: -20px;
}

.orderbookChart .axis {
    fill: #999;
    shape-rendering: crispEdges;
}

.orderbookChart .axis .title {
    stroke-width:1;
    stroke: #bbb;
    fill: #bbb;
}


.orderbookChart .axis path, .orderbookChart .axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1;
}

.orderbookChart .axis text {
    font-size:10px;
}

.orderbookChart .axis.price text, .orderbookChart .axis.volume text {
    font-size:12px;
}

.orderbookChart path {
    fill: none;
    stroke: #3369a8;
    stroke-width:2;
    stroke-linejoin: round;
}

.orderbookChart line {
    stroke: #999;
    shape-rendering: crispEdges;
}

.orderbookChart .status {
    text-align:center;
    color:#aaa;
    position:absolute;
    width:100%;
    top:30%;
}

.orderbookChart .hover {
    stroke: #999;
    stroke-width: 1;
}

.orderbookChart .focus {
    fill: rgba(255,255,255,.5);
    stroke: #999;
}

.orderbookChart .focus.dark {
    fill:#555;
    stroke: none;
}

.orderbookChart .centerline {stroke:#cde}

.orderbookChart .chartDetails {   
  position: absolute;     
  text-align: right;      
  font-size:14px;   
  color:#333; 
  padding:1px 5px;
  background:rgba(255,255,255,.5);
  border-bottom:1px solid rgba(150,150,150,.2);     
}

.orderbookChart .chartDetails span {
  font-size:12px;
  color:#999;
  margin: 0 .25em;
  display:inline-block;
}

.bookTables {
  width:auto;
  overflow:hidden;
  font-size:14px;
  color:#666;
  margin:5px 60px 20px;
  opacity: .5;
}

.bookTables table {
  width: 50%;
  text-align:right;
  border-collapse:collapse;
  border:1px solid #ccc;
}

.bookTables th {
  font-size:15px;
  color:#333;  
  font-weight:normal;
  padding: 5px;
}

.bookTables th span {
  display:block;
  font-size:12px;
  font-weight:bold;
  color:#ccc;
}

.bookTables td {
  padding:2px 5px;
}

.bookTables td .insig {
  color:#c0c0c0;
}

.bookTables tr:nth-child(odd) {
  background:#f8f8f8;
}

.bookTables th.type {
  text-align:center;
  font-size:16px;
  background:#eee;  
  text-transform:uppercase;
}

.bookTables .bidsTable {
  float:left;
}

.bookTables .asksTable {
  float:right;
}

/*
 *  dark theme 
 */

.dark .orderbookChart .centerline {
  stroke:#123;
}

.dark .orderbookChart .background,
.dark .orderbookChart .hover,
.dark .orderbookChart .axis path,
.dark .orderbookChart .axis line {
  stroke : #404040;
}

.dark .orderbookChart .axis text {
  fill : #666; 
  stroke: #666;
}

.dark .orderbookChart .status {
  color: #666;
}

.dark .orderbookChart .chartDetails {
  background:rgba(255,255,255,.1);
}

.dark .bookTables {
  color:#888;  
}

.dark .bookTables table {
  border-color:#333;
}

.dark .bookTables th.type {
  background:#222;
  color:#777;
  font-weight:bold;
}

.dark .bookTables tr:nth-child(odd) {
  background:#151515
}

.dark .bookTables th {
  color:#bbb;
}

.dark .bookTables th span {
  color:#555;
}

.dark .bookTables tbody {
  font-family:"Open Sans";
}

.dark .bookTables td .insig {
  color:#505050;
}

@media (max-width: 767px) {
  
  .bookTables table {
    width:100%;
    float:none !important;
  }
}
