.chart .centerline {stroke:#cde}

.bookTables {
  width:1000px;
  overflow:hidden;
  font-size:14px;
  color:#666;
  margin:5px 60px 20px;
  opacity: .5;
}

.bookTables table {
  width: 500px;
  text-align:right;
  border-collapse:collapse;
  border:1px solid #ccc;
}

.bookTables th {
  font-size:16px;
  color:#333;  
  font-weight:normal;
  padding: 5px 10px;
}

.bookTables th span {
  display:block;
  font-size:12px;
  font-weight:bold;
  color:#ccc;
}

.bookTables td {
  padding:2px 10px;
}

.bookTables td .insig {
  color:#c0c0c0;
}

.bookTables tr:nth-child(odd) {
  background:#f5f5f5;
}

.bookTables th.type {
  text-align:center;
  font-size:16px;
  background:#eee;  
  text-transform:uppercase;
}

.bookTables .bidsTable {
  float:left;
  border-right-width:2px;
}

.bookTables .asksTable {
  float:right;
  border-left-width:2px;
}

/*
 *  dark theme 
 */

.dark .chart .centerline {
  stroke:#123;
}

.dark .bookTables {
  color:#888;  
}

.dark .bookTables table {
  border-color:#333;
}

.dark .bookTables th.type {
  background:#222;
  color:#777;
  font-weight:bold;
}

.dark .bookTables tr:nth-child(odd) {
  background:#151515
}

.dark .bookTables th {
  color:#bbb;
}

.dark .bookTables th span {
  color:#555;
}

.dark .bookTables td .insig {
  color:#404040;
}
