.topology-node {
  stroke: #FFF;
  stroke-width: 1.2px;
}

.topology-link {
  stroke: #999;
  stroke-opacity: .1;
}

.tooltip-btn {
  background-color: transparent;
  border-radius: 99px;
  padding: 0 7px;
  margin-left: 5px;
  font-size: 12px;
  color: grey;
}