
#tradeFeed {
  color:#666;
  overflow:hidden;
}

#tradeFeed .summary .price {
  padding:5px;  
}

#tradeFeed .summary .price span {
  display:inline-block;  
}

#tradeFeed .price .amount {
  font-size:40px; 
  padding:0 5px;
  color:#444;
}

#tradeFeed .price .pair {
  color:#999;
  font-size:12px;
}

#tradeFeed .daily {
  font-size:13px;  
}

#tradeFeed .daily span {
  margin:0 5px; 
  font-weight:bold; 
  display:inline-block;
}

#tradeFeed .daily span small {
  margin:0 2px;
}

#tradeFeed .daily .high {
  color:mediumseagreen;
}

#tradeFeed .daily label {
  font-size:11px;
  cursor:default;  
}

#tradeFeed .daily .low {
  color:indianred;
}

#tradeFeed .table {
  width:100%; 
  position:relative; 
  min-height:50px;
}

#tradeFeed .status {
  color:#ccc; 
  font-size:22px; 
  position:absolute;
  top:50%;
  margin-top:-15px;
  width:100%;
}

#tradeFeed .loader {
  position:absolute;
  top:50%;
  left:50%;
  width:40px;
  margin-left:-20px;
  margin-top:-20px;
  opacity:0;
}

#tradeFeed table {
  width:100%;
  text-align:right;
  border:1px solid #eee;
  border-left:none;
  border-spacing:1px;
  border-collapse:collapse;
}

#tradeFeed table tr:nth-child(odd) {
  background:rgba(200,200,200,.1);
}

#tradeFeed table td {
  padding:2px 5px;
  border-bottom:1px solid #eee;
}

#tradeFeed table tr:hover  {
  background:rgba(150,170,200,.2);
}

#tradeFeed table small {
  color:#aaa;
}

#tradeFeed table .time {
  color:#aaa;
  font-size:12px;
}

#tradeFeed table .type {
  width: 5px; 
  background:#ccc;
  padding:0;
}

#tradeFeed table .bid {
  background:indianred;
}

#tradeFeed table .ask {
  background:mediumseagreen;
}

.dark #tradeFeed {
  color:#aaa;
}

.dark #tradeFeed .price .amount {
  color:#ccc;  
}

.dark #tradeFeed  .pair {
  color:#666;
  font-weight:bold;  
}

.dark #tradeFeed table {
  border-color: #333;
  font-weight:bold;
}

.dark #tradeFeed .time, .dark #tradeFeed small {
  color:#666;
}

.dark #tradeFeed table td {
  border-color:#222;
}

.dark #tradeFeed table .bid,  {
  background:#c22;
}

.dark #tradeFeed table .ask {
  background:#4a4;
}

.dark #tradeFeed .daily .high {
  color:#4a4;
}

.dark #tradeFeed .daily .low {
  color:#c22;
}
