.valueSummary {
  text-align:center;
  
  .inner {
    display:inline-block;
    position:relative;
    
    svg {
      
      path {
        opacity:.8;
      }
    }
    
    label {
      position:absolute;
      left:0;
      padding:2px 2px;
      border-radius:3px;
      font-size:12px;
      line-height:12px;
      color:#333;
      font-family:Arial;
      b {
        
        display:block;
        margin-left:5px;
        color:#888;
        font-size:10px;
        font-weight:normal
      }
    }
  }
}



.dark {
  
  .valueSummary {
    .inner {
      svg {
        path {
          opacity:.65;
        }
      }
      
      label {
        color:#bbb;
        
        b {
        }
      }
    }
  }
}
