//manage currencies & gateways
.manage_wrapper {

  font-family: "Open Sans" !important;

  .dd-selected {
    color: #000;
    padding: 0 10px;
  }

  .dd-option:hover {
    text-decoration: none;
  }

  .manage {

    margin: 40px auto 0;

    .submit.btn {
      color: #fff;
      background-color: #346aa9;
      padding: 10px 50px;

        &:hover {
          background-color: #22456e;
        }
    }

    .curr_symb {
      width: 12px;
      height: auto;
      margin-right: 5px;
    }

    #btnSave {
      float: left;
    }

    .clear {
      clear: both;
    }

    #curr_list {
      min-height: 240px;
     
      input {
        margin: 5px 5px 10px 10px;
      }
    }

    .removeBtn {
      float: right;
    }

    hr {
      clear: both;
    }

    #currencyList {
      max-width: 450px;

      input {
        margin-right: 5px;
      }
    }

    input.manual {
      padding: 9px;
      vertical-align: bottom;
      min-width: 350px;
      margin-right: 20px;
      float: left;
    }

    .description {
      color: #b01e2e;
      font-size: 12px;
      margin: 5px 0;
      display: block;
      clear: both;
    }

    .irba {
      color: #999;
      font-size: 12px;
      margin: 5px 0;
    }
    
  }

  .sub_nav {
    background: #f4f6f7;
    padding: 5px;
    height: 55px;
    border-bottom: 1px solid #ccc;

    .manage-menu {
      line-height: 45px;
    }

    li {
      display: inline-block;
      margin-right: 40px;

      a {
        color: #666;

        &:hover {
          text-decoration: none;
        }
      }

    }

    .active {
      overflow: visible;

      a {
        color: #346aa9;
      }
    } 

  }
}