@import url(priceChart.css);
@import url(orderBook.css);


.wrap {
  text-align:left;
  display:inline-block;
  width:1120px;  
}

.markets {
  text-align:center;
}
.markets h2 {
  text-align:center;
}

#currency-pair {
  margin:5px 0 5px 55px;
  display:inline-block; 
}

#currency-pair select {
  width:auto;
  margin:2px;
}

#currency-pair h3 {
  margin: 0 0 .5em;
  background: #f6f6f6;
}

#base, #quote {
  display: inline-block;
}

#flip {
  margin: 0 10px;
  font-size:12px; 
  cursor:pointer;
}

#interval {margin-left:50px}
#interval a, #chartType a {
  font-size:12px;
  display: inline-block;
  text-decoration: none;
  color:#666;
  margin:0 .5em;
}

#interval a:hover, #chartType a:hover {
  color: #999;
}

#interval a.selected, #chartType a.selected {
  color: #3369a8;
  font-weight:bold;
}

#chartType {
  display:inline-block;
  margin:0 2em;
}

#bookChart {margin-top:5px}
