@import url(priceChart.css);
@import url(orderBook.css);

#trades {
  background:rgba(200,220,240,.3);
  color:#aaa;
  overflow:hidden;
}

.wrap {
  text-align:left;
  display:inline-block; 
}

.markets {
  text-align:center;
}
.markets h2 {
  text-align:center;
}

#currency-pair {
  margin:5px 0 5px 55px;
}

#currency-pair select {
  width:auto;
  margin:2px;
  width:auto;
  height:auto;
  border:1.5px solid @rippleBlue;
  color: @rippleBlue;
  background:none;
  -webkit-appearance:none;
  padding: 2px 20px 2px 4px;
  line-height:1em;
  background-image:url('images/dropdownBlue.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 13px;
  font-weight:bold;
}

#currency-pair h3 {
  margin: 0 0 .5em;
  background: #f6f6f6;
}

#base, #quote {
  display: inline-block;
}


#flip {
  margin: 0 10px;
  font-size:12px; 
  cursor:pointer;
  color:#666;
  display:inline-block;
}

#flip span {
  border-bottom:3px solid transparent;
}

#interval {margin-left:55px; float:left; clear:both}
#interval a, #chartType a {
  font-size:12px;
  line-height:13px;
  display: inline-block;
  text-decoration: none;
  color:#666;
  margin:1px 7px;
  border-bottom:3px solid transparent;
}

#flip span:hover, #interval a:hover, #chartType a:hover {
  color: #999;
  border-bottom:3px solid #999;
}

#interval a.selected, #chartType a.selected {
  color: @rippleBlue;
  font-weight:bold;
  border-bottom:3px solid @rippleBlue;
}

#chartType {
  float:right;
  margin-right:55px;
}

.markets .chart {
  clear:both;
}

#bookChart {margin-top:15px}

/*
 * Dark theme
 * 
 */
.dark #currency-pair select {
  border:2px solid #137;
}

/*
 * Responsive tweaks 
 */

.markets .span3 {
  width: 24.5% !important;
  margin-left: 1% !important;
}

.markets .span9 {
  margin:0 !important
}

@media (max-width: 979px) {
  
  .markets .span3, .markets .span9 {
    width:100% !important;
    margin: 0 !important;
  }
  
  .markets .span3 {
    display:table;
    border-bottom:1px solid rgba(150,150,150,.2); 
  }
  
  #tradeFeed {
    display:table-row;
  }
  
  #tradeFeed .summary {
    width:50% !important;
    display:table-cell;
    vertical-align:top;
    border-right:1px solid rgba(150,150,150,.2); 
  }
  
  #tradeFeed .table {
    display:table-cell;
    vertical-align:top;
  }
  
  #tradeFeed table tr:nth-of-type(n+6) {display: none;}
}

@media (max-width: 767px) {
  #currency-pair {
    width:90%;
    text-align:center;
    margin:10px 5%;
  }
}

@media (max-width: 600px) {
  
  
  #flip {
    display:block;
    width:100%;
    margin:5px;
  }

  .markets .span3 {
    display:block;
  }

  #tradeFeed {
    display:block;  
  } 
     
  #tradeFeed .summary {
    width:100% !important;
    display:block;
    border:none;
  }
  
  #tradeFeed .table {
    display:block;
  }
  
  #tradeFeed table tr:nth-of-type(n+4) {display: none;}
}

@media (max-width: 1300px) {
  #interval {
  }
  
  #priceChart .chartDetails {
  }
}