<!DOCTYPE html>
<html ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle">Ripple Charts</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- D3 needs this -->
    <meta charset="utf-8">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ripple">
    <meta name="twitter:title" content="Ripple Charts">
    <meta name="twitter:description" content="Ripple Network Data Visualization.">
    <meta name="twitter:creator" content="@ripple">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content="Ripple Charts" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https:/ripplecharts.com" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Ripple Network Data Visualization.">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script>
      API = "<%= api %>";
    </script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body class="light">
    <div class="snap-content" ui-view="main"></div>
  </body>
</html>

