<!DOCTYPE html>
<html>
  <head>
    <title ng-bind="pageTitle">Ripple Charts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- D3 needs this -->
    <meta charset="utf-8">
    
    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ripple">
    <meta name="twitter:title" content="Ripple Charts">
    <meta name="twitter:description" content="Ripple Network Data Visualization.">
    <meta name="twitter:creator" content="@ripple">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content="Ripple Charts" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https:/ripplecharts.com" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Ripple Network Data Visualization.">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <!-- Open Sans from google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
    
    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init(MIXPANEL);</script><!-- end Mixpanel -->

  </head>
  <body ng-controller="AppCtrl" ng-class="theme">
    <div class="header">
      <div class="wrapper">
        <i class="fa fa-align-justify nav-toggle" snap-toggle></i>
        <a href="#/" ui-route="/" class="logo" snap-close></a>
        <div class="theme selectList">
          <a ng-click="theme = 'light'" ng-class="{selected : theme == 'light'}">Light</a>
          <a ng-click="theme = 'dark'"  ng-class="{selected : theme == 'dark'}">Dark</a>
        </div>  
      </div>
    </div>   
             
    <div snap-drawer>
      <ul class="nav">
        <li class="top">
        </li>
        <li ui-route="/markets"  class="category">
          <a href="#/markets" snap-close><img src="assets/icons/999_markets.svg">Markets</a>
        </li> 
        <li class="page">
          <ul>
            <li ui-route="/markets" ng-class="{active:$uiRoute}">
              <a href="#/markets" snap-close>Live Chart</a>
            </li>
            <li ui-route="/multimarkets" ng-class="{active:$uiRoute}">
              <a href="#/multimarkets" snap-close>Multi Markets</a>
            </li>
          </ul>
        </li>
        <li ui-route="/capitalization" class="category value">
          <a href="#/capitalization" snap-close><img src="assets/icons/999_value.svg"></i>Value</a>
        </li> 
        <li class="page">
          <ul>
            <li ui-route="/capitalization" ng-class="{active:$uiRoute}">
              <a href="#/capitalization" snap-close>Capitalization</a>
            </li>
          </ul>
        </li>    
        <li ui-route="/graph" class="category graph">
          <a href="#/graph" snap-close><img src="assets/icons/999_accounts.svg"></i>Accounts</a>
        </li> 
        <li class="page">
          <ul>
            <li ui-route="/graph" ng-class="{active:$uiRoute}">
              <a href="#/graph" snap-close>Account Explorer</a>
            </li>
          </ul>
        </li> 
        <li ui-route="/accounts" class="category network">
          <a href="#/accounts" snap-close><img src="assets/icons/999_stats.svg"></i>Network</a>
        </li> 
        <li class="page">
          <ul>
            <li ui-route="/accounts" ng-class="{active:$uiRoute}">
              <a href="#/accounts" snap-close>Accounts</a>
            </li>
          </ul>
        </li> 
      </ul>
    </div snap-drawer>
    
    <div snap-content class="snap-content" snap-options="snapOptions">    
      
      <div ui-view="main"></div>
      <footer class="footer row">
        <div class="footer-inner"></div>
        <small><a href="">v<%= version %></a></small>
      </div>
      </footer>
    </div>    
  </body>
</html>
